# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [7]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [11]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [12]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
# 60 <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [13]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4 ) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [18]:
print('Número de imóveis classificados com tipo "Apartamento" -> {}'.format(n1))
print('Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> {}'.format(n2))
print('Número de imóveis classificados com área entre 60 e 100 metros quadrados, incluindo os limites -> {}'.format(n3))
print('Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}'.format(n4))

Número de imóveis classificados com tipo "Apartamento" -> 19532
Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> 2212
Número de imóveis classificados com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41

## Consolidando o seu conhecimento

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [3]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [6]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [8]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [10]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
# 60 <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [14]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [15]:
print('Número de imóveis classificados com tipo "Apartamento" -> {}'.format(n1))
print('Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> {}'.format(n2))
print('Número de imóveis classificados com área entre 60 e 100 metros quadrados, incluindo os limites -> {}'.format(n3))
print('Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}'.format(n4))

Número de imóveis classificados com tipo "Apartamento" -> 19532
Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> 2212
Número de imóveis classificados com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41