In [2]:
import pandas as pd

In [5]:
s = pd.Series(list('asdaasdadasdasdasdadasde'))
s

0     a
1     s
2     d
3     a
4     a
5     s
6     d
7     a
8     d
9     a
10    s
11    d
12    a
13    s
14    d
15    a
16    s
17    d
18    a
19    d
20    a
21    s
22    d
23    e
dtype: object

In [6]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [8]:
# Conta quantas vezes o valor apareceu
s.value_counts()

a    9
d    8
s    6
e    1
Name: count, dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [11]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [12]:
dados.Tipo.value_counts()

Tipo
Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: count, dtype: int64

In [ ]:
# o value_counts() so pode ser usado dentro de Series